.responsive-header-container {
  display: flex;
  width: 80%;
  height: 100px;
  background-color: seashell;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.responsive-links {
  text-decoration: none;
  color: black;
  font-size: 22px;
  align-items: center;
  padding: 1rem;
}
.responsive-home-links {
  text-decoration: none;
  color: black;
  font-size: 22px;
  height: 100%;
  width: 100%;
  padding: 1rem;
}
.responsive-links:hover {
  background-color: rgb(196, 191, 191);
}
.responsive-home-links:hover {
  background-color: rgb(196, 191, 191);
}
.links-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header-logo {
  font-size: 25px;
}
